html {
	overflow-x: hidden;
	height: 100%;
}

body {
	background: var(--grey);
	overflow-x: hidden;
	color: var(--dark);
	height: 100%;
}

#content {
	min-height: 100vh;
}

#content main {
	max-height: none;
	height: calc(100vh - 56px);
}
