<% layout('layout/boilerplate') %>
<h1>Analytics</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Metric</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <% analytics.forEach(item => { %>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.metric %></td>
        <td><%= item.value %></td>
      </tr>
    <% }) %>
  </tbody>
</table>
