<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Super Store Admin Dashboard</title>
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/partial-layout-fix.css" />
</head>
<body>

  <%- include('../includes/sidbar.ejs') %>
  <section id="content">
    <%- include('../includes/header.ejs') %>
    <main>
      <%- body %>
    </main>
  </section>  
           
  <script src="/js/script.js"></script>
    
</body>